// section{
//     background: linear-gradient(rgb(2, 30, 171), rgb(74,215,240)) ;
// }

// .logo{
//      font-size: 40px;
//      font-weight: bold;
//      //font-family: 'creepster',cursive;
//      letter-spacing: 5px;
//      //top: 500px;
//      //left:50px ;
//      text-align: left;
//      //width: 500px;
// }

// .desc{

//     font-size: 20px;
//     //font-family: 'aladin', cursive;
//     letter-spacing: 2px;
//     position: absolute;
//     //top: 600px;
//     //left: 50px;
//     text-align: left;
//     width: 500px;
//  }

section{
   // background: linear-gradient(rgb(205, 37, 174), rgb(74,215,240)) ;
}