<p>admin-home works!</p>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>
<h4 class="mt-1 mb-5 pb-1"> Mary, This is supposed to be the statistics page so use the tutorial you have to build it </h4>

<app-todos></app-todos>
<app-todos></app-todos>
<app-todos></app-todos>
