/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
    background: linear-gradient(rgb(171, 2, 2), rgb(3, 3, 3)) ;
    //background-color:#000;
    color:#fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
